.link {
  border-bottom: 2px solid $stone-900; // rose-500
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  transition-duration: 200ms;

  &:hover {
    border-bottom-color: $base;
    color: $base;
  }

  &--xs {
    border-bottom-width: 1px;
    font-size: .6rem;
  }

  &--sm {
    border-bottom-width: 1px;
    font-size: .8rem;
  }

  &--md {
    border-bottom-width: 2px;
    font-size: 1rem;
  }

  &--lg {
    border-bottom-width: 2px;
    font-size: 1.2rem;
  }

  &--xl {
    border-bottom-width: 3px;
    font-size: 1.4rem;
  }
}
