.link {
  border-bottom: 2px solid rgba(244, 63, 94, 0); // rose-500
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  transition-duration: 200ms;

  &:hover {
    border-bottom-color: rgba(244, 63, 94, 1);
    color: $red;
  }

  &--xs {
    border-bottom-width: 1px;
    font-size: .6rem;
  }

  &--sm {
    border-bottom-width: 1px;
    font-size: .8rem;
  }

  &--md {
    border-bottom-width: 2px;
    font-size: 1rem;
  }

  &--lg {
    border-bottom-width: 2px;
    font-size: 1.2rem;
  }

  &--xl {
    border-bottom-width: 3px;
    font-size: 1.4rem;
  }
}
